@tailwind base;
@tailwind components;
@tailwind utilities;


.resPicShadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.mx-140 {
    margin-left: 35rem /* 320px */;
    margin-right: 35rem /* 320px */;
}

.border-1 {
    border-width: 1px;
}

.bg-shimmer {
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
}

.shadow-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}